span.badge-warning {
    margin-right: 10px;
}

.form-row > .form-group > label {
    text-align: right;
    > span {
        text-align: right;
    }
}

.card-header {
    font-size: 20px;
}

#reset {
    margin-left: 10px;
    margin-top: 10px;
}

#save-entity {
    margin-top: 10px;
}
#cancel-save {
    margin-top: 10px;
}

textarea {
    resize: none;
    margin-left: 17px;
}

.diagnosis {
    margin-left: 40px;
}

.bor {
    border: 1px dashed #e7e7e7;
    width: 155px;
    height: 155px;
    margin-top: 10px;
    margin-left: 17px;
}

.intro {
    margin-left: 135px;
}
