<div class="row justify-content-center">
    <div class="col-9">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div>
                <div class="card" style="width: 100%">
                    <div class="card-header">
                        医院信息
                    </div>
                    <div class="card-body" style="width: 100%">
                        <div class="form-group" [hidden]="!hospital.id" style="display:none;">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                   [(ngModel)]="hospital.id" readonly />
                        </div>
                        <div class="form-inline" role="form">
                            <label>
                                医院图片:
                                <input type="file" name="imageUrl" id="field_imageUrl" style="display:none"
                                       [(ngModel)]="hospital.imageUrl" maxlength="255" (change)="fileChange($event)">
                                <div class="bor">
                                    <img class="bar" height="150px" width="150px" [src]="_d.bypassSecurityTrustUrl(imgsrc)">
                                </div>
                            </label>
                        </div>
                        <br>
                        <div class="form-inline">
                            <div class="form-group row col-md-12">
                                医院简介:
                                <textarea class="form-control" name="intro" id="field_intro"
                                          [(ngModel)]="hospital.intro" style="width: 78%;height: 152px"></textarea>
                            </div>
                        </div>
                        <br>

                        <div class="form-inline">
                            <div class="form-group row col-md-4">
                                医院名称:
                                <div class="col-md-8" content="align">
                                    <input type="text" class="form-control col-md-8" name="name" id="field_name"
                                           [(ngModel)]="hospital.name" maxlength="50" style="width: 500px"/>
                                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                                        <small class="form-text text-danger"
                                               [hidden]="!editForm.controls.name?.errors?.maxlength"
                                               jhiTranslate="entity.validation.maxlength"
                                               translateValues="{ max: 50 }">
                                            This field cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row col-md-4">
                                医院类型:
                                <div class="col-md-8">
                                    <select class="form-control col-md-10 col-sm-8"
                                            name="hospitalType"
                                            [(ngModel)]="hospital.hospitalType"
                                            id="field_hospitalType" style="width: 500px">
                                        <option value="COMPOSITE">{{'jhipsterApp.HospitalType.COMPOSITE' | translate}}</option>
                                        <option value="SPECIALIZED">{{'jhipsterApp.HospitalType.SPECIALIZED' | translate}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row col-md-4">
                                医院等级:
                                <div class="col-md-8 col-sm-8">
                                    <select class="form-control col-md-10 col-sm-8"
                                            name="hospitalLevel"
                                            [(ngModel)]="hospital.hospitalLevel" id="field_hospitalLevel" style="width: 500px">
                                        <option value="FIRST_RATE_ONE">{{'jhipsterApp.HospitalLevel.FIRST_RATE_ONE' | translate}}</option>
                                        <option value="FIRST_RATE_TWO">{{'jhipsterApp.HospitalLevel.FIRST_RATE_TWO' | translate}}</option>
                                        <option value="FIRST_RATE_THREE">{{'jhipsterApp.HospitalLevel.FIRST_RATE_THREE' | translate}}</option>
                                        <option value="SECOND_RATE_ONE">{{'jhipsterApp.HospitalLevel.SECOND_RATE_ONE' | translate}}</option>
                                        <option value="SECOND_RATE_TWO">{{'jhipsterApp.HospitalLevel.SECOND_RATE_TWO' | translate}}</option>
                                        <option value="SECOND_RATE_THREE">{{'jhipsterApp.HospitalLevel.SECOND_RATE_THREE' | translate}}</option>
                                        <option value="THIRD_RATE_ONE">{{'jhipsterApp.HospitalLevel.THIRD_RATE_ONE' | translate}}</option>
                                        <option value="THIRD_RATE_TWO">{{'jhipsterApp.HospitalLevel.THIRD_RATE_TWO' | translate}}</option>
                                        <option value="THIRD_RATE_THREE">{{'jhipsterApp.HospitalLevel.THIRD_RATE_THREE' | translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="form-inline" role="form">
                            <div class="form-group row col-md-4">
                                医院地址:
                                <div class="col-md-8">
                                    <input type="text" class="form-control col-md-8" name="address" id="field_address"
                                           [(ngModel)]="hospital.address" style="width: 500px"/>
                                </div>
                            </div>

                            <div class="form-group row col-md-4">
                                联系电话:
                                <div class="col-md-8">
                                    <input type="text" class="form-control col-md-10 col-sm-8" name="phone" id="field_phone"
                                           [(ngModel)]="hospital.phone" style="width: 500px"/>
                                </div>
                            </div>

                            <div class="form-group row col-md-4">
                                所在地区:
                                <div class="col-md-8 col-sm-8">
                                    <select class="form-control col-md-10 col-sm-8" id="field_cityId" name="cityId"
                                            [(ngModel)]="hospital.cityIdId" style="width: 500px">
                                        <option [ngValue]="null"></option>
                                        <option [ngValue]="chinaOption.id" *ngFor="let chinaOption of chinas; trackBy: trackChinaById">{{chinaOption.id}}</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center">
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
