<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="china">
            <h2><span jhiTranslate="jhipsterApp.china.detail.title">China</span> {{china.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.china.name">Name</span></dt>
                <dd>
                    <span>{{china.name}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.china.pId">P Id</span></dt>
                <dd>
                    <span>{{china.pId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/china', china.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
