<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-7" [ngSwitch]="isAuthenticated()">
        <div class="card-body1" style="text-align: center;margin:5% auto;" *ngSwitchCase="false">

            <div>
                <div style="width: 520px;margin: auto;">
                    <div style="width: 100%;margin-bottom: 20px">
                        <div style="margin:10px auto; height: 80px; width: 80px;background: url('../../content/images/favicon.ico') no-repeat center center;background-size:cover;">
                        </div>
                    </div>
                    <form class="form" role="form" (ngSubmit)="login()">
                        <div style="margin: 10px 0; height: 50px;width: 520px">
                            <div style="float: left;width: 70px;height: 50px;line-height: 50px;font-size: 18px;">
                                账号:
                            </div>
                            <input style="width: 412px;float: left;height: 50px" type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                                   [(ngModel)]="username">
                        </div>

                        <div style="margin: 10px 0; height: 50px;width: 520px">
                            <div style="float: left;width: 70px;height: 50px;line-height: 50px;font-size: 18px;">
                                密码:
                            </div>
                            <input style="width: 412px;float: left;height: 50px" type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                                   [(ngModel)]="password">
                        </div>
                        <div style="margin: 10px 0 0 70px; height: 50px;">
                            <input style="float: left;height: 50px" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>

                            <div style="float: left;height: 50px;line-height: 50px;font-size: 18px;margin-left: 5px;">
                                记住密码
                            </div>
                        </div>

                        <div style="margin: 10px 0 0 70px; height: 50px;">
                            <button style="width: 71%" type="submit" class="btn btn-primary" jhiTranslate="login.form.button">Sign in</button>
                        </div>
                        <!--<div style="margin: 10px 0 0 70px; height: 50px;">-->

                        <!--<div class="alert alert-warning">-->
                        <!--<a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>-->
                        <!--</div>-->
                        <!--</div>-->
                    </form>
                    <p></p>
                </div>
            </div>

        </div>

        <div class="card-body1" style="font-size: 50px;text-align: center;margin:5% auto;" *ngSwitchCase="true">
            欢迎进入医联体系统<br>
            <span style="font-size: 35px;" id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                  translateValues="{username: '{{account.login}}'}"></span>
        </div>
    </div>
</div>
